body {
    text-align: center;
}

#connect4 {
    background-color: slateblue;
    display: inline-block;
}

#restart {
    margin-top: 2%;
}
.col {
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}

.col.empty {
    cursor: pointer;
}
.next-red {
    background-color: rgba(255, 0, 0, 0.7);
}

.next-yellow {
    background-color: rgba(240, 255, 0, 0.7);
}

.col.red {
    background-color: red;
}

.col.yellow {
    background-color: yellow;
}